@use "../../../styles/variables.scss" as *;

.wrapper {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	margin-bottom: 20px;
	border-top: 1px solid $very-light-grey;
	border-bottom: 1px solid $very-light-grey;
}

.title {
	font-size: 1.7rem;
	font-weight: 500;
}

.actions {
	display: flex;
	align-items: center;
}
