@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid $very-light-grey;
	border-bottom: 1px solid $very-light-grey;
}

.title {
	font-size: 1.6rem;
	font-weight: 500;
}

.actions {
	display: flex;
	align-items: center;
}
