@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.pageTitle {
	display: flex;
	align-items: center;
	min-height: 70px;
	height: 70px;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid $very-light-grey;
	border-bottom: 1px solid $very-light-grey;

	&__title {
		font-size: 1.6rem;
		font-weight: 500;
	}
}

.skeleton {
	box-shadow: $main-box-shadow;
}
