@mixin centered() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @content;
}
@mixin centeredX() {
  left: 50%;
  transform: translateX(-50%);
  @content;
}
@mixin centeredY() {
  top: 50%;
  transform: translateY(-50%);
  @content;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder           {
    @content;
  }
  &::-moz-placeholder          {
    @content;
  }
  &:-ms-input-placeholder      {
    @content;
  }
}
@mixin placeholder-hover() {
	&:hover {
		&::-webkit-input-placeholder { @content; }
		&:-moz-placeholder           { @content; }
		&::-moz-placeholder          { @content; }
		&:-ms-input-placeholder      { @content; }
	}
}
@mixin placeholder-focus() {
	&:focus {
		&::-webkit-input-placeholder { color: transparent; }
		&:-moz-placeholder           { color: transparent; }
		&::-moz-placeholder          { color: transparent; }
		&:-ms-input-placeholder      { color: transparent; }
	}
}

@mixin category-card() {
	display: flex;
	height: 13rem;
	width: 100%;
	border-radius: 5px;
	@content;
}

@mixin product-card() {
	display: flex;
	width: 100%;
	@content;
}

@mixin product-info-image() {
	border-radius: 10px;
	@content;
}

