$main-color: #1c1c1c;
$secondary-color: #f9f9f9;
$main-theme-color: #2f82ff;
$dark-theme-color: #202124;

$main-grey: #828282;
$light-grey: #c7c7c7;
$red: #d60000;

$placeholder-color: $main-grey;
$border-input-color: $light-grey;
$form-error: $red;

$main-font-family: 'Montserrat';

$transition-hover: all .2s ease;

$width-admin-panel: 20px;





