$main-color: #1c1c1c;
$secondary-color: #f9f9f9;
$main-theme-color: #2f82ff;
$dark-theme-color: #202124;

$main-grey: #828282;
$light-grey: #c7c7c7;
$very-light-grey: #e7e7e7;
$red: #d60000;
$white: #ffffff;

$placeholder-color: $main-grey;
$border-input-color: $light-grey;
$form-error: $red;
$border-color: $very-light-grey;

$main-font-family: 'Montserrat';

$transition-hover: all .2s ease;

$width-admin-panel: 20px;

$page-min-width: 1440px;
$container-width: $page-min-width;

$disabled: $main-grey;


