$main-color: #1c1c1c;
$secondary-color: #f9f9f9;
$main-theme-color: #2f82ff;
$dark-theme-color: #202124;

$main-grey: #828282;
$light-grey: #c7c7c7;
$very-light-grey: #e7e7e7;
$red: #d60000;
$white: #ffffff;

$placeholder-color: $main-grey;
$border-input-color: $light-grey;
$form-error: $red;
$border-color: $very-light-grey;

$main-font-family: 'Montserrat';

$transition-hover: all .2s ease;

$width-admin-panel: 20px;

$page-min-width: 1440px;
$container-width: $page-min-width;

$disabled: $main-grey;

$main-box-shadow: 0 2px 6px 0 rgb(70, 70, 70, .15);

// Страница товара
$product-info-left-block-size: 400;
$product-info-block-padding: 20;
$product-info-block-border-size: 1;
$comment-block-size: 980;
$comment-block-padding: 20;
$comment-action-size: 40;

// Список товаров
$product-image-size: 120;
$product-card-pading: 20;
