@use '../../../../../styles/variables.scss' as *;

.table {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 10px;
	padding: 7px;
	background-color: $secondary-color;
	border-radius: 5px;

	&:first-child {
		margin-top: 0;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 7px;
		background-color: $main-theme-color;
		border-radius: 5px;
	}

	&__title {
		font-size: 1.3rem;
		font-weight: 500;
		color: $secondary-color;
	}

	&__actions {
		display: flex;
		align-items: center;
	}

	&__body {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 10px;
	}

	&__titleSkeleton {
		display: flex;
		height: 40px;
		width: 400px;
	}

	&__actionSkeleton {
		display: flex;
		height: 40px;
		width: 40px;
	}

	&__rowSkeleton {
		height: 40px;
		width: 100%;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
