.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.price, .actions {
	display: flex;
	align-items: center;
	width: 100%;
}

.price {
	margin-bottom: 20px;

	&Text {
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: bold;
	}

	&Skeleton {
		flex: 1;
	}
}

.actions {
	flex-direction: column;

	&Notice {
		margin-top: 15px;
		font-weight: 500;
	}
}
