@use "../../../../../styles/variables.scss" as *;

.actions {
	display: flex;
	align-items: center;
	width: 100%;

	&Button {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}

		&:disabled {
			pointer-events: none;
		}

		&:disabled > * {
			color: $main-grey;
		}

		&:hover > * {
			color: $main-theme-color;
		}

		&:hover {
			&:disabled > * {
				color: $main-grey;
			}
		}
	}
}
