@use "../../../../../styles/variables.scss" as * ;
@use "../../../../../styles/mixins.scss" as * ;

.inputError {
	margin-top: 10px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
}

.inputWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}

.label {
	top: 1rem;
	left: 1rem;
	z-index: -1;
	color: $main-grey;
	pointer-events: none;
	transition: $transition-hover;

	@include centeredY() {
		position: absolute;
	}
}

.input {
	height: 3.5rem;
	padding: 1rem;
	border: 1px solid $border-input-color;
	border-radius: 5px;
	transition: $transition-hover;

	&:focus, &:not(:placeholder-shown) {
		padding-top: 1.7rem;
		padding-bottom: 0.5rem;
		border: 1px solid $main-theme-color;
	}

	&:focus ~ .label, &:not(:placeholder-shown) ~ .label {
		top: 0.5rem;
		color: $main-theme-color;
		font-size: 0.8rem;
		font-weight: 500;
		transform: initial;
	}
}




