@use '../../../styles/variables.scss' as *;

.wrapper {
	position: sticky;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: $width-admin-panel;
	bottom: 0;
	background-color: $main-theme-color;
	z-index: 10;
}
