@use "../../../styles/variables.scss" as *;

.product {
	display: flex;
	width: 100%;

	&__image {
		display: flex;
		align-items: center;
		width: #{$product-image-size}px;
		height: #{$product-image-size}px;
		margin-right: 20px;
		background-color: $white;
	}

	&__imageSkeleton {
		width: #{$product-image-size}px;
		height: #{$product-image-size}px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&__textRow {
		margin-bottom: 10px;
		font-size: 0.9rem;
		line-height: 1.2rem;

		&:first-child {
			font-weight: 500;
			color: $main-grey;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		font-size: 1.1rem;
		line-height: 1.2rem;
		font-weight: bold;
		transition: $transition-hover;

		&:hover {
			color: $main-theme-color;
		}
	}
}

.skeleton {
	box-shadow: $main-box-shadow;
}
