@use "../../../../../styles/variables.scss" as *;

.item {
	display: flex;
	height: 60px;
	width: 60px;
	margin: 10px;
	border-radius: 30px;
	background-color: $secondary-color;

	&Action {
		overflow: hidden;
		border-radius: 30px;
		box-shadow: 0 2px 7px 0 rgba(0,0,0,.2);
	}

	&InnerWrapper {
		position: relative;
		display: flex;
		align-items: center;
	}

	&IconWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
		min-width: 60px;
		max-width: 60px;
	}

	&TextWrapper {
		position: absolute;
		display: flex;
		align-items: center;
		height: 60px;
		left: -200px;
		white-space: nowrap;
	}

	&Text {
		font-weight: 500;
	}

	&:nth-child(4) {
		&:hover {
			animation: block-expansion-wide .3s ease-out forwards;
		}
	}

	&:hover {
		animation: block-expansion .3s ease-out forwards;

		.itemAction {
			width: 100%;
			animation: changing-border-radius .3s ease-out forwards;
		}

		.itemTextWrapper {
			animation: text-shift .2s ease-out forwards;
		}

		.itemIconWrapper > *, .itemText {
			color: $main-theme-color;
		}
	}
}

// ANIMATION

 @keyframes block-expansion {
	0%   {border-radius: 30px;}
  100% {border-radius: 30px; width: 210px;}
 }

 @keyframes block-expansion-wide {
	0%   {border-radius: 30px;}
  100% {border-radius: 30px; width: 300px;}
 }

 @keyframes changing-border-radius {
	0%   {border-radius: 30px;}
  100% {border-radius: 30px;}
 }

 @keyframes text-shift {
	0%   {opacity: 0; visibility: hidden;}
  50%  {opacity: 0; visibility: hidden;}
	75%  {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible; left: unset; position: unset; padding-right: 20px;}
 }
