.modalConfirm {
	display: flex;
	flex-direction: column;
	width: 300px;

	&Content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 50px;
		margin-bottom: 20px;
		font-size: 1.2rem;
		font-weight: 500;
	}

	&Actions {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > * {
			&:first-child {
				margin-right: 40px;
			}
		}
	}
}
