@use '../../../styles/variables.scss' as *;

.wrapper {
	position: sticky;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: $width-admin-panel;
	bottom: 0;
	background-color: $main-theme-color;
	z-index: 10;
}

.aside {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.list {
	display: flex;
	flex-direction: column;
}

