@use "../../../../../styles/variables.scss" as *;

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}

.info, .total {
	display: flex;
	width: 100%;
	padding: 20px 0;
}

.textRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
	color: $main-grey;
	font-weight: 500;

	&:last-child {
		margin-bottom: 0;
	}
}

.info {
	flex-direction: column;
	padding-top: 0;
}

.total {
	border-top: 1px solid $very-light-grey;

	.textRow {
		color: $main-color;
		font-size: 1.2rem;
		font-weight: bold;
	}
}

.price {
	font-weight: 500;
	color: $main-color;
}

.totalPrice {
	font-size: 1.3rem;
	font-weight: bold;

}
