.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  gap: 30px;
	margin-top: 20px;
}

.empty {
	font-size: 3rem;
	font-weight: bold;
}
