@use './styles/variables.scss' as *;
@use './styles/mixins' as *;

.pageWrapper {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	flex: 1;

	&.privatePage {
		background-color: $dark-theme-color;
	}
}
