@use './styles/variables.scss' as *;
@use './styles/mixins' as *;

.pageWrapper {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	&.darkPageWrapper {
		background-color: $dark-theme-color;
	}
}

.mainContentWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.mainContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}

.contentWrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 100%;
	padding: 50px 0;
}

