@use "../../../../../styles/variables.scss" as *;

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
	background-color: $secondary-color;
	transition: $transition-hover;

	&Actions {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&Button {
		&:hover > * {
			color: $main-color;
		}
	}

	&Link {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;

		&Text {
			margin-bottom: 5px;
			font-size: 1.2rem;
			line-height: 1.5rem;
			font-weight: 500;
			text-align: center;
			transition: $transition-hover;
		}

		&:hover {
			& > * {
				color: $main-theme-color;
			}
		}
	}
}
