@use '../../../../../styles/variables.scss' as *;

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	&Text {
		display: flex;
		align-items: center;
		padding-top: 3px;
		padding-left: 5px;
		color: $secondary-color;
	}
}
