.icon {
	font-size: 1rem;
	color: $main-color;
	transition: $transition-hover;
	user-select: none;

	&.centeredY {
		@include centeredY() {
			position: absolute;
		};
	}
	&.centeredX {
		@include centeredX() {
			position: absolute;
		};
	}

	&Search {
		right: 10px;
		color: $placeholder-color;
		font-size: 1.6rem;
	}

	&Control {
		font-size: 1.3rem;
	}

	&HeaderInfo {
		font-size: 1.3rem;
		color: $main-theme-color;
	}

	&Copyright {
		font-size: 1.3rem;
		color: $secondary-color;
	}

	&Button {
		font-size: 1.5rem;
		color: $secondary-color;
	}

	&Close {
		font-size: 2rem;
		color: $main-theme-color;
	}

	&ControlMenu {
		font-size: 2rem;
	}

	&Action {
		font-size: 2rem;
	}

	&Trash {
		font-size: 1.3rem;
	}

	&ArrowDropup, &ArrowDropdown {
		font-size: 1.5rem;
	}

	&EmptyCart {
		font-size: 4rem;
		color: $main-theme-color;
	}

	&AddCategory {
		font-size: 4rem;
		color: $main-theme-color;
	}

	&CardCategory {
		font-size: 3rem;
		color: $main-theme-color;
	}

	&CardCategoryLink {
		font-size: 1.7rem;
	}
}



