@use "../../../../../styles/variables.scss" as *;

.tableRow {
	overflow: hidden;
	display: flex;
	width: 100%;
	// min-height: 50px;
	margin-top: 10px;
	background-color: rgba(0,0,0,.1);
	border-radius: 5px;

	&:first-child {
		margin-top: 0;
	}

	&Cell {
		overflow: hidden;
		display: flex;
		align-items: center;
		flex: 1;
		padding: 7px;
	}

	&Title {
		flex: 0 0 230px;
	}

	&Actions {
		justify-content: flex-end;
		// flex: 0;
	}
}
