@use "../../../../../styles/variables.scss" as *;

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 0 20px;

	&Body {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.formError {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}
