@use "../../../../../styles/variables" as *;

.wrapper {
	display: flex;
	align-items: baseline;
}

.control {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 15px;

	&Item {
		padding-top: 5px;
	}

	&CountProducts {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -15px;
		right: -10px;
		height: 35px;
		width: 35px;
		padding: 5px;
		font-size: 0.8rem;
		color: $secondary-color;
		background-color: $main-theme-color;
		border-radius: 50%;
		z-index: 10;
	}

	&.disabled {
		& > *:nth-child(1), .controlItem {
			transition: none;
		}
	}

	& > *:nth-child(1), &Item {
		transition: $transition-hover;
	}

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		& > *:nth-child(1), .controlItem {
			color: $main-theme-color;
		}

		&.disabled {
			& > *:nth-child(1), .controlItem {
				color: $main-color;
				cursor: default;
			}
		}
  }
}


