@use "../../../../../styles/variables" as *;

.wrapper {
	display: flex;
	align-items: baseline;
}

.control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 25px;

	&Item {
		padding-top: 5px;
	}

	&.disabled {
		& > *:nth-child(1), .controlItem {
			transition: none;
		}
	}

	& > *:nth-child(1), &Item {
		transition: $transition-hover;
	}

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		& > *:nth-child(1), .controlItem {
			color: $main-theme-color;
		}

		&.disabled {
			& > *:nth-child(1), .controlItem {
				color: $main-color;
				cursor: default;
			}
		}
  }
}


