@use "../../../../../styles/variables.scss" as *;

.wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	height: 60px;
	padding: 7px;
	background-color: $main-theme-color;
	border-radius: 5px;
}

.tableCell {
	display: flex;
	align-items: center;
	flex: 1;
	height: 100%;
	margin-right: 15px;

	&:last-child {
		flex: 0 0 100px;
		margin-right: 0;
	}
}

.tableTitle {
	font-weight: 500;
	color: $secondary-color;
}
